<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ "/" | prepend: site.baseurl }}">Dayton Dynamic Languages Group</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="{{ "/#about" | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ "/#ml" | prepend: site.baseurl }}">Mailing List</a></li>
          <li><a href="{{ "/#location" | prepend: site.baseurl }}">Location</a></li>
          <li><a href="https://www.meetup.com/Dayton-Dynamic-Languages-User-Group">Meetup</a></li>
          <li><a href="{{ "/#past-meetings" | prepend: site.baseurl }}">Past Meetings</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>